{% extends 'base.html' %}
{% block contenido %}
	<div class="message">
	Welcome to the forum.This forum is optimized and doesn't have javascript.The cookie policy is simple. It only use
	a session cookies(destroyed when you close the browser).This cookies are used to maintain the login of a user and to
	proctect the forms for CSRF attacks(See
	<a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">
		https://en.wikipedia.org/wiki/Cross-site_request_forgery</a>).If you continue browsing this site,you accept the cookie
		policy.
	</div>
{% endblock %}
