{% extends 'base.html' %}
{% block contenido %}
	<h2 class="threadTitle">
		<span>{{thread_prop.thread_name}}</span>&nbsp;
		"Displaying {{thread_prop.first_post}} to {{thread_prop.last_post}} ({{thread_prop.n_posts}} found)"
	</h2>
	{% if user %}
	<a href="{{url_prefix}}/new_post/{{thread_prop.thread_id}}">
	<button>New Post</button></a>
	{% endif %}
	{% for post in posts %}
	<div class="post">
	  <div class="postheader"><span><a href="{{url_prefix}}/user/{{post.user_id}}">{{post.user_name}}</a></span> #{{post.pos}}
			{% if acess_level>=2 %}
			<form class="deleteform" action="{{url_prefix}}/delete_post" method="POST">
				<input type="hidden" name="thread_id" value="{{thread_prop.thread_id}}"/>
				<input type="hidden" name="page" value="{{thread_prop.page}}"/>
				<input type="hidden" name="n_posts" value="{{thread_prop.n_posts}}"/>
				<input type="hidden" name="post_id" value="{{post.post_id}}"/>
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<input type="submit" class="delete" value="Delete Post"/>
			 </form>
			{% endif %}
			</div>
	  <div>{{post.post_time.day}}-{{post.post_time.month}}-{{post.post_time.year}} {{post.post_time.hour}}:{{post.post_time.minute}}</div>
	  <div>{{post.text}}</div>
	</div>
	{% endfor %}
	<div align="center">
		{% if thread_prop.page>1 %}
			<a href="{{url_prefix}}/thread/{{thread_prop.thread_id}}/{{thread_prop.page-1}}">Prev</a>&nbsp;
		{% endif %}
		{{thread_prop.page}}
		{% if thread_prop.page<thread_prop.max_page %}
			<a href="{{url_prefix}}/thread/{{thread_prop.thread_id}}/{{thread_prop.page+1}}">Next</a>&nbsp;
		{% endif %}
	</div>
{% endblock %}
